@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Restablecer clave del autenticador";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Si restableces tu clave del autenticador, la app no funcionará hasta que la configures de nuevo.</strong>
    </p>
    <p>
        Este proceso desactiva el 2FA hasta que verifiques tu app. Si no terminas la configuración podrías perder el acceso a tu cuenta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Restablecer clave del autenticador</button>
    </form>
</div>
