@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
    ViewData["BodyClass"] = "welcome-page";   
}

<div class="text-center mt-5">

    <h2 class="mb-4">Inicia sesión para continuar 🏃‍♂️</h2>

    <form id="account" method="post" style="max-width:360px;margin:auto;">

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email">Email</label>
            <span class="text-danger" asp-validation-for="Input.Email"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password">Contraseña</label>
            <span class="text-danger" asp-validation-for="Input.Password"></span>
        </div>

        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>

        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">
            Iniciar sesión
        </button>

        <hr class="my-4" />

        <p><a asp-page="./ForgotPassword">¿Has olvidado tu contraseña?</a></p>
        <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crear una cuenta nueva</a></p>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}