@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Esta app no tiene configurado un servicio de correo real; revisa <a href="https://aka.ms/aspaccountconf">esta guía</a> para configurarlo.
    Normalmente recibirías esto por email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haz clic aquí para confirmar tu cuenta</a>
</p>
    }
    else
    {
<p>
        Revisa tu correo para confirmar tu cuenta.
</p>
    }
}

