@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer contraseña confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña se ha restablecido. <a asp-page="./Login">Inicia sesión aquí</a>.
</p>
